{% extends 'bboard/base.html' %}

{% block content %}

<div class="bboard">
    <h1>О сайте</h1>
</div>

<div class="bboard_text" style="padding:30px; text-align: justify;">
    <h4>Добро пожаловать на сайт <span><b>Каталог квартир</b></span>— ваш надежный помощник в покупке и продаже квартир на вторичном рынке!</h4>
    <h4>Мы специализируемся на подборе недвижимости, проверке юридической чистоты сделок и
        профессиональном сопровождении клиентов на всех этапах.
        Наша цель — сделать процесс покупки или продажи квартиры максимально простым,
        безопасным и выгодным.</h4>
</div>

<div class="blog" style="padding-left: 30px;">
    <p><h4>
        На сайте <span><b>{{ count_posts }}</b> объявлений.</span>
    </h4></p>
</div>
{% endblock content %}