{% extends 'bboard/base.html' %}

{% block content %}
<h1>Объявления</h1>

<div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Недвижимость</b></li>
            <li class="list-group-item">
                <a href="#">Квартиры</a>
            </li>
            <li class="list-group-item">
                <a href="#">Дома, дачи, коттеджи</a>
            </li>
            <li class="list-group-item">
                <a href="#">Земельные участки</a>
            </li>
        </ul>
      </div>

    <div class="footer">
        <p>&copy; 2023 Сайт объявлений.</p>
    </div>

{% endblock content %}