{% extends 'bboard/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4" style="text-shadow: -5px -4px 3px #999;">Редактировать объявление</h2>

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}