{% extends 'bboard/base.html' %}

{% block content %}

<div class="bboard">
    <h2>Добавить новое объявление</h2>
</div>

<div class="post-add" style="padding-left: 30px;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="padding: 8px 16px; background-color: #007bff; color: white;
                                     border: none; border-radius: 4px; cursor: pointer;">
            Добавить объявление
        </button>
    </form>
</div>

{% endblock content %}