{% extends 'bboard/base.html' %}

{% block content %}

<div class="bboard">
    <h3>Удаление объявления</h3>
</div>

<div class="post-delete" style="padding-left: 30px;">
    <p>Автор - {{ post.author }}</p>
    <p>Заголовок - {{ post.title }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" style="padding: 8px 16px; background-color: rgb(245, 54, 54); color: white;
                                border: none; border-radius: 4px; cursor: pointer;">Удалить</button>
        <a href="{% url 'bboard:index' %}">
            <button type="button" style="padding: 8px 16px; background-color: #007bff; color: white;
                                border: none; border-radius: 4px; cursor: pointer;">Отменить</button>
        </a>
    </form>
</div>
{% endblock content %}