{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}

<div class="bboard">
    <h3>Информация об объекте № {{ post.pk }}</h3>
</div>

<!--# отобразить информацию о посте, добавить детализацию по объявлению-->
<div class="rooms" style="margin-bottom: 15px; margin-top: 15px; padding-left: 30px;">
    <h4><b>{{ post.title }}</b></h4>
</div>

<div class="price" style="padding-left: 30px;">
    <p><h5>Цена <b>{{ post.price }} руб.</b></h5></p>
</div>

<div class="post-container">
    <div class="image" style="padding-left: 30px;">
        {% if post.image %}
        <img src="{{ post.image.url }}" width="400px" height="auto">
        {% else %}
        <img src="{% static 'img/no_image.png' %}" width="400px" height="auto">
        {% endif %}
    </div>

    <div class="adress" style="padding-left: 30px;">
        <a>Адрес: <b>{{ post.city }}, ул. {{ post.street }}, дом {{ post.house }}, кв. {{ post.apartment }}</b></a>
        <p>Метро: <b>{{ post.metro }}</b></p>
        <p>{{ post.rooms }}-комн.квартира, {{ post.square }} кв.м на {{ post.floor }} этаже</p>

        <div class="text">
            <p>{{ post.text }}</p>
        </div>
    </div>
</div>

<div>
    <form action="" method="get">
        <button type="submit">
            В избранное ❤️
        </button>
    </form>
</div>

<div class="aythor" style="padding-left: 30px;">
    {% if user.is_authenticated %}
    <a href="{% url 'bboard:user_info' user_id=post.author.pk %}">
        <i>{{ post.author }}</i>
    </a>
    {% else %}
    <i>{{ post.author }}</i>
    {% endif %}
    <p><i>тел. {{ post.phone_number }}</i></p>

    <p><i>{{ post.created_at }}</i></p>
</div>


{% if user == post.author %}
<div class="btn-actions" style="padding-left: 30px;">
    <div class="btn-edit-post">
        <a href="{% url 'bboard:update_post' pk=post.id %}">
            <button type="button">Редактировать</button>
        </a>
    </div>
    <div class="btn-del-post">
        <a href="{% url 'bboard:delete_post' pk=post.id %}">
            <button type="button">Удалить</button>
        </a>
    </div>
</div>
{% else %}

{% if user.is_superuser %}
<div class="btn-actions">
    <div class="btn-del-post">
        <a href="{% url 'bboard:delete_post' pk=post.id %}">
            <button type="button">Удалить</button>
        </a>
    </div>
</div>
{% endif %}
{% endif %}

{% endblock content %}