{% extends 'bboard/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body p-4">
                    <h2 class="text-center mb-4" style="text-shadow: -5px -4px 3px #999;">Добавить объявление</h2>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




<!--<div class="bboard">-->
<!--    <h2>Добавить новое объявление</h2>-->
<!--</div>-->

<!--<div class="post-add" style="padding-left: 30px;">-->
<!--    <form action="" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit" style="padding: 8px 16px; background-color: #007bff; color: white;-->
<!--                                     border: none; border-radius: 4px; cursor: pointer;">-->
<!--            Добавить объявление-->
<!--        </button>-->
<!--    </form>-->
<!--</div>-->

